.containerStyled {
position: relative;
  :global(.video-wrapper) {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--light-outline-variant);
  }
  :global(.video-overlay) {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
  }
  :global(.img-wrapper) {
    img {
      object-fit: cover;
    }
  }
}

.buttonStyled {
display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  svg {
    &:hover {
      cursor: pointer;
    }
    width: 72px;
    height: 72px;
    cursor: pointer;
    circle {
      stroke: white !important;
    }
    path {
      fill: white;
    }
  }
}
