.paperStyle {
padding: 8px 0;
  background: var(--dark-primary-container);
  :global(.content-wrapper) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    @media (max-width: 750px) {
      gap: 8px;
    }
    span {
      color: var(--dark-on-surface);
      font-weight: 300;
      text-align: center;
    }
    :global(.copyright-wrapper) {
      display: flex;
      flex-wrap: wrap;
      a {
        &:hover {
          text-decoration: underline;
          color: white;
        }
        @media (min-width: 620px) {
          &::before {
            content: "|";
            margin: 0 8px;
            color: var(--dark-on-surface);
          }
        }
      }
    }
    :global(.policy-links) {
      display: flex;
      flex-wrap: wrap;
      a {
        &::after {
          content: "|";
          margin: 0 8px;
          color: var(--dark-on-surface);
        }
        /* not the last element  */
        &:last-child {
          &::after {
            content: "";
          }
        }
      }
    }
  }
}
