.linkStyle {
padding: 4px 8px;
  color: var(--light-primary, #725c00);
  text-decoration: underline;
  font-weight: 500;
  margin: 0;
  &[align="right"] {
    margin: 0 0 0 auto;
  }

  /* border-bottom: 1px solid var(--light-outline, #7d7767); */
  &:hover {
    color: var(--light-on-primary-container, #231b00);
  }
  /* svg {
    transform: rotate(90deg);
    margin-left: 4px;

    path {
      fill: var(--light-primary, #725c00);
    }
  } */
}
