.heroSection {
  background: var(--light-surface-container-lowest);
  padding-top: 140px;
  padding-bottom: 80px;
}

.container {
  align-items: center;
  gap: 56px;
  display: grid;
  grid-template-columns: 500px 1fr;
}

@media (max-width: 1200px) {
  .heroSection {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .container {
    height: auto;
    gap: 24px;
    grid-template-columns: 1fr;
  }
}
